<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hongmao.mapper.MajorMapper">
	<sql id="Base_Column">
		MAJOR_ID,
		MAJOR_NAME
	</sql>
	<select id="findMajor" parameterType="cn.hongmao.bean.Major" resultType="cn.hongmao.bean.Major">
		SELECT <include refid="Base_Column"></include> FROM MAJOR 
		WHERE MAJOR_NAME LIKE CONCAT('%',#{major.majorName},'%')
	</select>
</mapper>