<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hongmao.mapper.SchoolMapper">
	<sql id="Base_Column">
		SCHOOL_ID,
		SCHOOL_NAME
	</sql>
	<select id="findSchool" parameterType="cn.hongmao.bean.School" resultType="cn.hongmao.bean.School">
		SELECT <include refid="Base_Column"></include> FROM SCHOOL 
		WHERE SCHOOL_NAME LIKE CONCAT('%',#{school.schoolName},'%')
	</select>
</mapper>